source https://nuget.org/api/v2

nuget FParsec
nuget FsCheck
nuget FSharp.Formatting
nuget FAKE
nuget Nunit
nuget NUnit.Runners
nuget SourceLink.Fake




github fsharp/FAKE modules/Octokit/Octokit.fsx